<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
    </head>
    <body class="aui-page-focused">
        <header role="banner">
            <nav class="aui-header">
                <h1 class="aui-header-logo aui-header-logo-textonly"><a href="projects.html" data-th-href="@{'/'}"><span class="aui-header-logo-device">Sealion</span></a></h1>
                <ul class="aui-nav">
                    <li><a href="new-project.html" data-th-href="@{'/projects/new'}">New Project</a></li>
                    <li><a href="account.html">Account Settings</a></li>
                    <li><a href="accounts.html" data-th-href="@{'/accounts'}">System Settings</a></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </nav>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <div class="aui-toolbar2">
                        <div class="aui-toolbar2-inner">
                            <div class="aui-toolbar2-secondary">
                                <a class="aui-button" href="new-account.html" data-th-href="@{'/accounts/new'}">New Account</a>
                            </div>
                        </div>
                    </div>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-th-each="account : ${model.accounts}">
                                <td><a href="account.html" data-th-href="@{'/accounts/' + ${account.id}}"
                                        data-th-text="${account.username}">sampleuser</a></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </body>
</html>
