<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui-experimental.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui-experimental.js'}"></script>
    </head>
    <body class="aui-page-focused">
        <div data-th-replace="~{header :: header}">
        </div>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <h1 data-th-text="${model.account.username}">sampleuser</h1>
                    <p><img src="https://www.gravatar.com/avatar/e107c65b007e7abb6b2e53054428fb5a?s=200"
                            data-th-src="${ui.avatar(model.account.id, 200)}"/></p>
                    <ul>
                        <li data-th-each="role : ${model.roles}">
                            <span data-th-text="${role}">USER</span>
                        </li>
                    </ul>
                    <div class="aui-toolbar2">
                        <div class="aui-toolbar2-inner">
                            <div class="aui-toolbar2-primary">
                                <a class="aui-button" href="edit-account.html" data-th-href="@{'/accounts/' + ${model.account.id} + '/edit'}">Edit Account</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
