<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui-experimental.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui-experimental.js'}"></script>
    </head>
    <body class="aui-page-focused">
        <div data-th-replace="~{header :: header}">
        </div>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <h1 data-th-text="${model.account.username}">sampleuser</h1>
                    <form class="aui" method="POST" action="accounts.html" data-th-action="@{'/accounts/' + ${model.account.id} + '/edit'}">
                        <div class="field-group">
                            <label for="email">Email</label>
                            <input class="text" type="email" placeholder="Email" name="email" id="email" maxlength="100" required="required"
                                data-th-value="${model.account.email}"/>
                        </div>
                        <div class="field-group">
                            <label>Role</label>
                            <div class="checkbox" data-th-each="role : ${model.roles}">
                                <input class="checkbox" type="checkbox" name="roles" data-th-checked="${model.grant.containsRole(role)}"
                                    id="role-user" data-th-id="${'role-' + role}" data-th-value="${role}"/>
                                <label for="role-user" data-th-for="${'role-' + role}" data-th-text="${role}">USER</label>
                            </div>
                            <!--/*-->
                            <div class="checkbox">
                                <input class="checkbox" type="checkbox" name="roles" id="role-admin"/>
                                <label for="role-admin">ADMIN</label>
                            </div>
                            <!--*/-->
                        </div>
                        <div class="buttons-container">
                            <div class="buttons">
                                <input type="hidden" name="csrfToken" data-th-value="${user.csrfToken}"/>
                                <input class="button submit" type="submit" value="Update user"/>
                                <a class="cancel" href="accounts.html" data-th-href="@{'/accounts'}">Cancel</a>
                            </div>
                        </div>
                    </form>
                    <h2>Change password</h2>
                    <form class="aui" method="POST" action="accounts.html" data-th-action="@{'/accounts/' + ${model.account.id} + '/passwords/update'}">
                        <div class="field-group">
                            <label for="oldPassword">Old password</label>
                            <input class="text" type="password" name="oldPassword" id="oldPassword" maxlength="100" required="required"/>
                        </div>
                        <div class="field-group">
                            <label for="newPassword">New password</label>
                            <input class="text" type="password" name="newPassword" id="newPassword" maxlength="100" required="required"/>
                        </div>
                        <div class="field-group">
                            <label for="confirmNewPassword">Confirm new password</label>
                            <input class="text" type="password" name="confirmNewPassword" id="confirmNewPassword" maxlength="100" required="required"/>
                        </div>
                        <div class="buttons-container">
                            <div class="buttons">
                                <input type="hidden" name="csrfToken" data-th-value="${user.csrfToken}"/>
                                <input class="button submit" type="submit" value="Change password"/>
                                <a class="cancel" href="#">I forgot my password</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </body>
</html>
