<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/superagent/1.4.0/superagent.min.js" data-th-src="@{'/webjars/superagent/1.4.0/superagent.js'}"></script>
    </head>
    <body class="aui-page-focused">
        <header role="banner" data-th-fragment="header">
            <nav class="aui-header">
                <h1 class="aui-header-logo aui-header-logo-textonly"><a href="projects.html" data-th-href="@{'/'}"><span class="aui-header-logo-device">Sealion</span></a></h1>
                <ul class="aui-nav">
                    <li><a href="new-project.html" data-th-href="@{'/projects/new'}">New Project</a></li>
                    <li><a href="edit-account.html" data-th-href="@{'/accounts/' + ${user.account.id} + '/edit'}" data-th-if="${user.signedIn}">Account Settings</a></li>
                    <li><a href="accounts.html" data-th-href="@{'/accounts'}">System Settings</a></li>
                    <li><a href="signin.html" data-th-href="@{'/signin'}" data-th-if="${user.signedIn == false}">Sign in</a></li>
                    <li><a href="#" data-th-if="${user.signedIn}">Sign out</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>
