<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
    </head>
    <body>
        <p><a href="projects.html">Sealion</a></p>
        <ul>
            <li><a href="new-project.html">New Project</a></li>
            <li><a href="account.html">Account Settings</a></li>
            <li><a href="accounts.html">System Settings</a></li>
            <li><a href="#">Sign out</a></li>
        </ul>
        <form action="account.html" method="POST">
            <p>
            <input type="text" placeholder="Name"/>
            <input type="submit" value="Create user"/>
            </p>
        </form>
    </body>
</html>
