<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
    </head>
    <body>
        <p><a href="projects.html" data-th-href="${'/sealion/'}">Sealion</a></p>
        <ul>
            <li><a href="new-project.html" data-th-href="${'/sealion/projects/new'}">New Project</a></li>
            <li><a href="account.html">Account Settings</a></li>
            <li><a href="accounts.html" data-th-href="${'/sealion/accounts'}">System Settings</a></li>
            <li><a href="#">Sign out</a></li>
        </ul>
        <p>サンプルプロジェクト</p>
        <ul>
            <li><a href="tasks.html">Tasks</a></li>
            <li><a href="milestones.html">Milestones</a></li>
        </ul>
        <form action="milestone.html" method="POST">
            <p>
                <input type="text" placeholder="Name"/>
                <input type="date" placeholder="Fixed date"/>
                <input type="submit" value="Create milestone"/>
            </p>
        </form>
    </body>
</html>
