<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
    </head>
    <body class="aui-page-focused">
        <header role="banner" data-th-replace="header :: header">
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <form class="aui" action="tasks.html" data-th-action="@{'/projects/new'}" method="POST">
                        <p>
                            <input class="text" type="text" placeholder="Name" name="name" maxlength="50" required="required"/>
                            <input class="aui-button aui-button-primary" type="submit" value="Create project"/>
                        </p>
                    </form>
                </section>
            </div>
        </div>
    </body>
</html>
