<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui-experimental.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui-experimental.js'}"></script>
    </head>
    <body class="aui-page-focused">
        <div data-th-replace="header :: header">
        </div>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <p data-th-text="${model.project.name}">サンプルプロジェクト</p>
                    <div class="aui-toolbar2">
                        <div class="aui-toolbar2-inner">
                            <div class="aui-toolbar2-primary">
                                <a class="aui-button" href="tasks.html" data-th-href="@{'/projects/' + ${model.project.id} + '/tasks'}">Tasks</a>
                            </div>
                            <div class="aui-toolbar2-primary">
                                <a class="aui-button" href="milestones.html" data-th-href="@{'/projects/' + ${model.project.id} + '/milestones'}">Milestones</a>
                            </div>
                        </div>
                    </div>
                    <form class="aui" action="milestone.html" data-th-action="@{'/projects/' + ${model.project.id} + '/milestones/new'}" method="POST">
                        <p>
                            <input class="text" type="text" placeholder="Name" name="name" maxlength="20" required="required"/>
                            <input class="aui-date-picker" type="date" placeholder="Fixed date" name="fixedDate"/>
                            <input class="aui-button aui-button-primary" type="submit" value="Create milestone"/>
                        </p>
                    </form>
                </section>
            </div>
        </div>
    </body>
</html>
