<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui-experimental.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui-experimental.js'}"></script>
    </head>
    <body class="aui-page-notification">
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <h1>Sealion</h1>
                    <div class="aui-message aui-message-error" data-th-if="${model != null}">
                        <p data-th-text="${model}">エラーメッセージ</p>
                    </div>
                    <form class="aui" method="POST" action="projects.html" data-th-action="@{'/signin'}">
                        <div>
                            <input class="text" type="email" placeholder="Email" name="email" id="email" maxlength="100" required="required"/>
                        </div>
                        <br/>
                        <div>
                            <input class="text" type="password" placeholder="Password" name="password" id="password" maxlength="100" required="required"/>
                        </div>
                        <br/>
                        <div>
                            <div class="buttons">
                                <input class="aui-button aui-button-primary" type="submit" value="Sign in"/>
                                <a class="cancel" href="#">I forgot my password</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </body>
</html>
