<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
    </head>
    <body>
        <p><a href="projects.html" data-th-href="${'/sealion/'}">Sealion</a></p>
        <ul>
            <li><a href="new-project.html" data-th-href="${'/sealion/projects/new'}">New Project</a></li>
            <li><a href="account.html">Account Settings</a></li>
            <li><a href="accounts.html" data-th-href="${'/sealion/accounts'}">System Settings</a></li>
            <li><a href="#">Sign out</a></li>
        </ul>
        <p data-th-text="${model.project.name}">サンプルプロジェクト</p>
        <ul>
            <li><a href="tasks.html" data-th-href="${'/sealion/projects/' + model.project.id.value + '/tasks'}">Tasks</a></li>
            <li><a href="milestones.html" data-th-href="${'/sealion/projects/' + model.project.id.value + '/milestones'}">Milestones</a></li>
        </ul>
        <ul>
            <li><a href="new-task.html">New Task</a></li>
        </ul>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Milestone</th>
            </tr>
            <tr data-th-each="task : ${model.tasks}">
                <td><a href="task.html" data-th-href="${'/sealion/projects/' + task.project.value + '/tasks/' + task.id.value}"
                        data-th-text="${task.title}">サンプルタスク</a></td>
                <td data-th-text="${task.status}">OPEN</td>
                <td><a href="milestone.html">v1.0</a></td>
            </tr>
        </table>
    </body>
</html>
