<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
        <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.5/css/aui.css" data-th-href="@{'/webjars/aui/5.9.5/css/aui.css'}" media="all"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{'/webjars/jquery/1.8.3/jquery.js'}"></script>
        <script src="https://aui-cdn.atlassian.com/aui-adg/5.9.5/js/aui.js" data-th-src="@{'/webjars/aui/5.9.5/js/aui.js'}"></script>
        <script src="http://cdn.jsdelivr.net/webjars/org.webjars/superagent/1.4.0/superagent.min.js" data-th-src="@{'/webjars/superagent/1.4.0/superagent.js'}"></script>
    </head>
    <body class="aui-page-focused">
        <header role="banner">
            <nav class="aui-header">
                <h1 class="aui-header-logo aui-header-logo-textonly"><a href="projects.html" data-th-href="@{'/'}"><span class="aui-header-logo-device">Sealion</span></a></h1>
                <ul class="aui-nav">
                    <li><a href="new-project.html" data-th-href="@{'/projects/new'}">New Project</a></li>
                    <li><a href="edit-account.html" data-th-href="@{'/accounts/' + ${user.account.id} + '/edit'}">Account Settings</a></li>
                    <li><a href="accounts.html" data-th-href="@{'/accounts'}">System Settings</a></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </nav>
        </header>
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    <p data-th-text="${model.project.name}">サンプルプロジェクト</p>
                    <div class="aui-toolbar2">
                        <div class="aui-toolbar2-inner">
                            <div class="aui-toolbar2-primary">
                                <a class="aui-button" href="tasks.html" data-th-href="@{'/projects/' + ${model.project.id} + '/tasks'}">Tasks</a>
                            </div>
                            <div class="aui-toolbar2-primary">
                                <a class="aui-button" href="milestones.html" data-th-href="@{'/projects/' + ${model.project.id} + '/milestones'}">Milestones</a>
                            </div>
                            <div class="aui-toolbar2-secondary">
                                <a class="aui-button" href="new-task.html" data-th-href="@{'/projects/' + ${model.project.id} + '/tasks/new'}">New Task</a>
                            </div>
                        </div>
                    </div>
                    <h1 data-th-text="${model.task.title}">サンプルタスク</h1>
                    <div class="aui-group aui-group-split">
                        <div class="aui-item">
                            <ul>
                                <li>
                                    <span data-th-text="${model.task.status}" class="aui-lozenge aui-lozenge-success"
                                        data-th-class="${ui.cssClass(model.task.status)}">OPEN</span>
                                    <a href="edit-account.html" data-th-href="@{'/accounts/' + ${model.task.postedBy}}"
                                        data-th-text="${model.task.accountName}">sampleuser</a>
                                    <span data-th-text="${model.task.postedAt}">2016/01/15 20:00</span>
                                </li>
                            </ul>
                            <div data-th-utext="${ui.marked(model.task.content)}">内容のサンプル</div>
                            <div data-th-each="comment : ${model.comments}">
                                <hr/>
                                <ul>
                                    <li>
                                        <a href="edit-account.html" data-th-href="@{'/accounts/' + ${comment.postedBy}}"
                                            data-th-text="${comment.accountName}">sampleuser</a>
                                        <span data-th-text="${comment.postedAt}">2016/01/15 20:10</span>
                                    </li>
                                </ul>
                                <div data-th-utext="${ui.marked(comment.content)}">コメントのサンプル</div>
                            </div>
                            <hr/>
                            <form class="aui" action="task.html" data-th-action="@{'/projects/' + ${model.project.id} + '/tasks/' + ${model.task.id}} + '/comments/new'" method="POST">
                                <p><textarea class="textarea" placeholder="Leave a comment" name="content" maxlength="500" required="required"></textarea></p>
                                <p><input class="aui-button aui-button-primary" type="submit" value="Comment"/></p>
                            </form>
                        </div>
                        <div class="aui-item" style="width: 20%">
                            <a href="#" class="aui-button aui-dropdown2-trigger" aria-owns="status-list">Change status</a>
                            <div id="status-list" class="aui-style-default aui-dropdown2">
                                <ul class="aui-list-truncate">
                                    <li data-th-each="s : ${model.status}"><a href="#" class="sl-change-status" data-th-text="${s}">OPEN</a></li>
                                    <!--/*-->
                                    <li><a href="#">DOING</a></li>
                                    <li><a href="#">DONE</a></li>
                                    <li><a href="#">CLOSED</a></li>
                                    <!--*/-->
                                </ul>
                            </div>
                            <dl>
                                <dt>
                                    Milestone
                                    <button class="aui-button aui-button-subtle aui-dropdown2-trigger aui-dropdown2-trigger-arrowless" aria-owns="milestones">
                                        <span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
                                    </button>
                                    <div id="milestones" class="aui-style-default aui-dropdown2">
                                        <ul class="aui-list-truncate">
                                            <li data-th-each="milestone : ${model.milestones}">
                                                <a href="#" class="sl-set-milestone" data-th-text="${milestone.name}"
                                                    data-th-attr="data-sl-milestone=${milestone.id}">v1.0</a>
                                            </li>
                                            <!--/*-->
                                            <li><a href="#">v2.0</a></li>
                                            <li><a href="#">v2.1</a></li>
                                            <!--*/-->
                                        </ul>
                                    </div>
                                </dt>
                                <dd><a href="milestone.html" data-th-href="@{'/projects/' + ${model.project.id} + '/milestones/' + ${model.task.milestone}}"
                                        data-th-text="${model.task.milestoneName}" data-th-if="${model.task.milestone != null}">v1.0</a></dd>
                            </dl>
                            <dl>
                                <dt>
                                    Assignee
                                    <button class="aui-button aui-button-subtle aui-dropdown2-trigger aui-dropdown2-trigger-arrowless" aria-owns="accounts">
                                        <span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
                                    </button>
                                    <div id="accounts" class="aui-style-default aui-dropdown2">
                                        <ul class="aui-list-truncate">
                                            <li data-th-each="account : ${model.accounts}">
                                                <a href="#" class="sl-set-assignee" data-th-text="${account.username}"
                                                    data-th-attr="data-sl-account=${account.id}">sampleuser</a>
                                            </li>
                                            <!--/*-->
                                            <li><a href="#">foo</a></li>
                                            <li><a href="#">bar</a></li>
                                            <!--*/-->
                                        </ul>
                                    </div>
                                </dt>
                                <dd><a href="edit-account.html" data-th-href="@{'/accounts/' + ${model.task.assignee}}"
                                        data-th-text="${model.task.assigneeName}" data-th-if="${model.task.assignee != null}">sampleuser</a></dd>
                            </dl>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script data-th-inline="javascript">
        /*<![CDATA[*/
            $('.sl-change-status').on('click', function() {
                superagent
                    .post(/*[[@{'/projects/' + ${model.project.id} + '/tasks/' + ${model.task.id} + ':status'}]]*/'task.html')
                    .send({ status: $(this).text() })
                    .end(function() {
                        location.href = /*[[@{'/projects/' + ${model.project.id} + '/tasks/' + ${model.task.id}}]]*/'task.html'
                    })
            });

            $('.sl-set-milestone').on('click', function() {
                superagent
                    .post(/*[[@{'/projects/' + ${model.project.id} + '/tasks/' + ${model.task.id} + ':milestone'}]]*/'task.html')
                    .send({ milestone: $(this).attr('data-sl-milestone') })
                    .end(function() {
                        location.href = /*[[@{'/projects/' + ${model.project.id} + '/tasks/' + ${model.task.id}}]]*/'task.html'
                    })
            });

            $('.sl-set-assignee').on('click', function() {
                superagent
                    .post(/*[[@{'/projects/' + ${model.project.id} + '/tasks/' + ${model.task.id} + ':assignee'}]]*/'task.html')
                    .send({ account: $(this).attr('data-sl-account') })
                    .end(function() {
                        location.href = /*[[@{'/projects/' + ${model.project.id} + '/tasks/' + ${model.task.id}}]]*/'task.html'
                    })
            });
        /*]]>*/
        </script>
    </body>
</html>
