<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
    </head>
    <body>
        <p><a href="projects.html" data-th-href="${'/sealion/'}">Sealion</a></p>
        <ul>
            <li><a href="new-project.html" data-th-href="${'/sealion/projects/new'}">New Project</a></li>
            <li><a href="account.html">Account Settings</a></li>
            <li><a href="accounts.html" data-th-href="${'/sealion/accounts'}">System Settings</a></li>
            <li><a href="#">Sign out</a></li>
        </ul>
        <p data-th-text="${model.project.name}">サンプルプロジェクト</p>
        <ul>
            <li><a href="tasks.html" data-th-href="${'/sealion/projects/' + model.project.id + '/tasks'}">Tasks</a></li>
            <li><a href="milestones.html" data-th-href="${'/sealion/projects/' + model.project.id + '/milestones'}">Milestones</a></li>
        </ul>
        <ul>
            <li><a href="new-task.html" data-th-href="${'/sealion/projects/' + model.project.id + '/tasks/new'}">New Task</a></li>
        </ul>
        <h1 data-th-text="${model.task.title}">サンプルタスク</h1>
        <ul>
            <li>
                <span data-th-text="${model.task.status}">OPEN</span>
                <a href="account.html" data-th-href="${'/sealion/accounts/' + model.task.postedBy}"
                    data-th-text="${model.task.accountName}">sampleuser</a>
                <span data-th-text="${model.task.postedAt}">2016/01/15 20:00</span>
            </li>
            <li><a href="milestone.html" data-th-href="${'/sealion/projects/' + model.project.id + '/milestones/' + model.task.milestone}"
                    data-th-text="${model.task.milestoneName}">v1.0</a></li>
        </ul>
        <p data-th-text="${model.task.content}">内容のサンプル</p>
        <div data-th-each="comment : ${model.comments}">
            <hr/>
            <ul>
                <li>
                    <a href="account.html" data-th-href="${'/sealion/accounts/' + comment.postedBy}"
                        data-th-text="${comment.accountName}">sampleuser</a>
                    <span data-th-text="${comment.postedAt}">2016/01/15 20:10</span>
                </li>
            </ul>
            <p data-th-text="${comment.content}">コメントのサンプル</p>
        </div>
        <hr/>
        <form action="task.html" method="POST">
            <p><textarea placeholder="Leave a comment"></textarea></p>
            <p><input type="submit" value="Comment"/></p>
        </form>
    </body>
</html>
