<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Sealion</title>
    </head>
    <body>
        <p><a href="projects.html">Sealion</a></p>
        <ul>
            <li><a href="new-project.html">New Project</a></li>
            <li><a href="account.html">Account Settings</a></li>
            <li><a href="accounts.html">System Settings</a></li>
            <li><a href="#">Sign out</a></li>
        </ul>
        <p>サンプルプロジェクト</p>
        <ul>
            <li><a href="tasks.html">Tasks</a></li>
            <li><a href="milestones.html">Milestones</a></li>
        </ul>
        <ul>
            <li><a href="new-task.html">New Task</a></li>
        </ul>
        <h1>サンプルタスク</h1>
        <ul>
            <li>OPEN <a href="account.html">sampleuser</a> 2016/01/15 20:00</li>
            <li><a href="milestone.html">v1.0</a></li>
        </ul>
        <p>内容のサンプル</p>
        <hr/>
        <ul>
            <li><a href="account.html">sampleuser</a> 2016/01/15 20:10</li>
        </ul>
        <p>コメントのサンプル</p>
        <hr/>
        <ul>
            <li><a href="account.html">sampleuser</a> 2016/01/15 20:10</li>
        </ul>
        <p>コメントのサンプル</p>
        <hr/>
        <ul>
            <li><a href="account.html">sampleuser</a> 2016/01/15 20:10</li>
        </ul>
        <p>コメントのサンプル</p>
        <hr/>
        <form action="task.html" method="POST">
            <p><textarea placeholder="Leave a comment"></textarea></p>
            <p><input type="submit" value="Comment"/></p>
        </form>
    </body>
</html>
